extends layout

block content
	div.page-header
		h2 所有用户
			a( href="/minds/add" ) <small>添加用户</small>
	div.row
		div.col-sm-1
		div.col-sm-8
			table.table.table-hover
				tbody
					tr
						th 序号 
						th 名称
						th 邮箱
						th 创建时间
						th 最后一次修改时间
						th 操作
					each val,index in users 
						tr
							td=index+1
							td=val.name
							td=val.mail
							td=val.create_time
							td=val.modify_time
							td
								a( href="/minds/modify/#{val.id}" ) 修改
								a( href="/minds/del/#{val.id}" ) 删除 
